@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/********************HEADER********************/

/* Menu */

/********************HEADER********************/
header{
    width: 100%;
    height: 300vh;
}
.img1{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 99vw;
    top: 0;
    left: 0;
}
.img2{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 99vw;
    top: 100vh;
    left: 0;
}
.img3{
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 99vw;
    top: 200vh;
    left: 0;
}

.pageCoffe1{
    position: absolute;
    color: aliceblue;
    top: 30vh;
    left: 20vw;
}

.pageCoffe2{
    position: absolute;
    color: aliceblue;
    top: 130vh;
    right: 20vw;
}

.pageCoffe3{
    position: absolute;
    color: aliceblue;
    top: 230vh;
    left: 20vw;
}

.pageCoffe2 p{
    width: 40vw;
}
.pageCoffe3 p{
    width: 40vw;
}

p{
    font-size: 24px;
}
h1{
    font-size: 42px;
}
button{
    height: 6vh;
}


/* Menu */

.first-menu{
    margin: 50px 200px;
}

.menu{
    list-style: none;
    display: flex;
}
.menu li{
    padding-left: 40px;
}
.menu li:first-child{
    margin-left:-40px ;
}
/* menu gauche */
.Coffee1{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-top: 20px;
}
.menuCoffee{
    height: 60vh;
    width: 90vw;
}
.menuCoffee img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}
.Coffee1 p{
  width: 30vw;
  padding: 10px;
    }
.Coffee1 span{
    position: relative;
    left: 60%;
    font-size: large;
  }
  /* menu droite */
.Coffee2{
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 40vw;
    }
    .menuCoffee2 img{
        background-size: contain;
        background-repeat: no-repeat;
        width: 75px;
        height: 75px;
        border-radius: 100%;
    }
    .Coffee2 p{
      width: 30vw;
      padding: 10px;
        }
    .Coffee2 span{
        position: relative;
        left: 60%;
        font-size: large;
      }
.right{
    position: relative;
    bottom: 60vh;
}
 
@media screen and (max-width: 1565px) {

    .right{
   
        bottom: 75vh;
    }
     


}
.right2{
    position: relative;
    left: 80%;
    font-size: 3em;
   
}
li:first-of-type{
   
    padding: 0px;
    color: black;
    width: 50px;
    height: 20px; 
    border-bottom: 2px black solid;
}

.gallery img{
    box-shadow: 0 10px 30px 0 ;
    margin: 20px;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* shop */
article:nth-of-type(2){
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
article:nth-of-type(2) h2{
   font-size: 1em;
   font-weight: lighter;
   margin-bottom: 0;
   font-family: 'Cantarell', sans-serif;
}
article:nth-of-type(2) #titre{
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10vh;
    font-family: 'Passion One', cursive;
    letter-spacing: 5px;
 }
article .shop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

article .shop p{
    margin: 1% 0 0% 0;
}
article .shop .content_left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article .shop .content_left img{
    width: 110%;

}
article .shop  p:last-of-type{
    margin-top: 3.5%;
}
article .shop .content_right{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
article .shop .content_right img{
    width: 30%;

}
article .shop .content_right .product{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article .shop .content_right .product:nth-of-type(3),.product:nth-of-type(4) {
    margin-top: 5%;
}

article .actu {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
}

article .actu .img11{
    flex: 0 1 40%;
    background-color: red;
}

article .actu .img22{
    flex: 0 1 58%;
    background-color: cyan;
    margin-left:-40px ;
}

/*footer*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}



.container {
	max-width:800px;
	width:100%;
	margin:0 auto;
	position:relative;
    float:left;
    bottom:0;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; color:rgb(255, 255, 255); }

#contact {
	background:#f7f7f700;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: rgb(255, 255, 255);
	display: block;
	font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
    font-size: 30px;
    
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
    color:rgb(255, 255, 255);
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:70%;
	border:1px solid rgba(241, 6, 6, 0);
	background:rgba(255, 255, 255, 0);
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid rgb(255, 255, 255);
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:70%;
	border:none;
	background:rgba(0, 0, 0, 0.267);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:rgb(0, 0, 0);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid rgba(0, 0, 0, 0);
}
::-webkit-input-placeholder {
 color:rgb(255, 255, 255);
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
